@import 'src/scss/variables.scss';

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  padding: 5px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: $white;
}

.playerCard {
  width: 100%;
  background: $white;
  font-family: Arial;
  cursor: pointer;

  & > * {
    pointer-events: none;
  }

  &:last-child {
    padding-bottom: 5px;
  }

  &:hover {
    .detailsContainer {
      background-color: $background-color-grey;
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-image: url('../../../assets/imgs/player-backdrop.png');
    background-size: cover;

    img {
      display: flex;
      width: 100%;
    }
  }

  .imageLine {
    width: 100%;
    margin-top: 4px;
    border-bottom: 2px solid $background-color-grey;
  }

  .detailsContainer {
    display: flex;
    align-items: flex-start;
    height: 120px;

    .number,
    .details {
      padding-top: 25px;
    }

    .number {
      min-width: 55px;
      max-width: 65px;
      flex: 0.5 1;
      border-radius: 5px;
      color: $grey3;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }

    .details {
      display: flex;
      flex-direction: column;
      text-align: left;

      .name {
        padding: 2px 0 4px;
        color: $grey5;
        font-size: 14px;
        font-weight: bold;
      }

      .position {
        padding-bottom: 4px;
        color: $grey4;
        font-size: 13px;
      }

      .size {
        color: $grey2;
        font-size: 12px;
      }
    }
  }

  &.selectedCard {
    .detailsContainer {
      .number {
        color: $white;
      }

      .details {
        .name {
          color: $white;
        }

        .position,
        .size {
          color: $grey1b;
        }
      }
    }
  }
}

.noScroll {
  overflow: hidden;
}
