@import 'src/scss/variables.scss';

.container {
    min-width: 400px;
    padding: 10px;
}

.placeholderImage {
    height: 292px;
    background-color: $grey1b;
}

.underline {
    height: 3px;
    margin-top: 5px;
    background-color: $grey1b;
}

.box {
    display: flex;
    margin-top: 20px;
}

.textBox {
    display: flex;
    flex-direction: column;
}

.barOne {
    width: 202px;
    height: 30px;
    background-color: $grey1b;
}

.barTwo {
    width: 112px;
    height: 18px;
    margin-top: 5px;
    background-color: $grey1b;
}

.barThree {
    width: 88px;
    height: 12px;
    margin-top: 5px;
    background-color: $grey1b;
}

.circleBox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.circle {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: $grey1b;
}

