@import 'src/scss/variables.scss';

.container {
  min-width: 440px;
  border-left: 1px solid $grey1;
  background-color: $white;

  .playerDetailsCard {
    padding: 5px;

    .imageContainer {
      display: flex;
      // height: 292px;
      padding-top: 10px;
      background-image: url('../../assets/imgs/player-backdrop-large.png');

      img {
        width: 100%;
      }
    }

    .imageBorderBottom {
      width: 100%;
      margin-top: 5px;
      border-bottom: 3px solid $background-color-purple;
    }

    .statsContainer {
      margin: 20px 0 0 5px;

      .nameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .name {
          font-size: 28px;
          color: $grey5;
          font-weight: bold;
          font-family: arial;
        }
  
        .jerseyNumber {
          flex: 1;
          text-align: end;
          padding-right: 15px;
          color: $background-color-purple;
          font-size: 40px;
          font-weight: bold;
          font-family: arial;
          vertical-align: sub;
        }
      }
  
      .position {
        color: $grey4;
        font-size: 18px;
        font-family: arial;
      }

      .details {
        margin-top: 5px;
        color: $grey2;
        font-family: arial;
        font-size: 14px;
      }
    }
  }
}
