.placeholder-container {

}

.picture {
  width: 374px;
  height: 292px;
  margin: 12px 12px 5px;
  background-color: $grey1b;
}

.underline {
  width: 374px; 
  height: 3px;
  margin: 5px 5px 5px 12px;
  background-color: $grey1b;
}

.box {
  display: flex;
  width: 374PX;
  margin-left: 10px;
  margin-top: 22px;
}

.text1 {
  width: 202px;
  height: 30px;
  margin: 5px;
  background-color: $grey1b;
}

.text2 {
  width: 112px;
  height: 18px;
  margin: 5px;
  background-color: $grey1b;
}

.circle {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  margin-left: 105px;
  background-color: $grey1b;
}

.text3 {
  width: 88px;
  height: 12px;
  margin: 3px;
  margin-left: 15px;
  background-color: $grey1b;
}

.player-details-container {
  flex: 1;
  min-width: 400px;
  // max-width: 400px;
  border-left: 1px solid $grey1;
  background-color:$white;

  .player-details-card {
    padding: 5px 8px;

    .image-container {
      position: relative;
      background-image: url('../../assets/imgs/player-backdrop-large.png');

      img {
        position: relative;
        top: 4px;
        width: 100%;
      }
    }

    .image-border-bottom {
      width: 100%;
      margin-top: 4px;
      border-bottom: 2px solid $background-color-purple;
    }

    .stats-container {
      padding-left: 3px;

      .stats-name-container {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .stats-name {
          font-size: 30px;
          color: $grey5;
          font-weight: bold;
          font-family: arial;
        }
  
        .stats-number {
          flex: 1;
          text-align: end;
          padding-right: 35px;
          color: $background-color-purple;
          font-size: 46px;
          font-weight: bold;
          font-family: arial;
          vertical-align: sub;
        }
      }
  
      .stats-position {
        color: $grey4;
        font-size: 22px;
        font-family: arial;
      }
    }
  }
}

.simple-stats-container {
  display: flex;

  div {
    width: 90px;
    // height: 65px;
    margin: 3px;



    .stat {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      color: $grey5;
      font-family: arial;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  background-color: $background-color-purple;
  color: $white;
  font-family: arial;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.long-stats-container {
  display: flex;
}

.box {
  flex-direction: column;
}

.long-stats-title {
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: $grey5;
}

.long-stat {

  font-family: arial;
  color: $grey4;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid $grey3;
}

