@import 'src/scss/variables.scss';

.card {
  min-width: 440px;
  padding-top: 5px;
  background-color: $white;
  font-family: arial;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 292px;
    background-image: url('../../../../assets/imgs/player-backdrop.png');
    background-size: cover;

    img {
      height: calc(100% - 10px);
    }
  }

  .test {
    position: sticky;
    top: 0;
  }
  .imageLine {
    border-bottom: 3px solid transparent;
  }

  .detailsContainer {
    padding: 20px 0 25px;

    .nameContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .name {
        font-size: 22px;
        color: $grey5;
        font-weight: bold;
      }

      .jerseyNumber {
        flex: 1;
        padding-right: 5px;
        color: $background-color-purple;
        font-size: 36px;
        font-weight: bold;
        text-align: end;
      }
    }

    .position {
      margin-top: 1px;
      color: $grey4;
      font-size: 16px;
    }

    .details {
      color: $grey2;
      font-size: 14px;
    }
  }
}

.thumbContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 69px;
  width: 88px;
  margin-left: -95px;
  background-image: url('../../../../assets/imgs/player-backdrop.png');
  background-size: cover;

  img {
    width: 100%;
  }
}

.transition {
  transition: all .295s ease-out;
}

.animate {
  margin-left: 0;
}

.details {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.name {
  font-size: 22px;
  color: $grey5;
  font-weight: bold;
}

.jerseyNumber {
  flex: 1;
  padding-right: 5px;
  color: $background-color-purple;
  font-size: 36px;
  font-weight: bold;
  text-align: end;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
}

.detailsWrapper {
  position: sticky;
  top: 0;
}

.borderBottom {
  border-bottom: 1px solid $grey1b;
}
