@import 'src/scss/variables.scss';

.card {
  min-width: calc(440px - 28px);
  padding-top: 5px;
  background-color: $white;
  font-family: arial;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 292px;
  background-image: url('../../../../assets/imgs/player-backdrop.png');
  background-size: cover;
  user-select: none;

  img {
    height: calc(100% - 10px);
  }
}

.cardWrapper {
  position: sticky;
  top: 0;
}

.borderBottom {
  border-bottom: 1px solid $grey1b;
}

.imageLine {
  border-bottom: 3px solid transparent;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.infoContainer {
  display: flex;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 69px;
  width: 88px;
  margin-left: -95px;
  background-image: url('../../../../assets/imgs/player-backdrop.png');
  background-size: cover;

  img {
    width: 100%;
  }
}

.transition {
  transition: all 0.295s ease-out;
}

.animate {
  margin-left: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.playerName {
  font-size: 22px;
  color: $grey5;
  font-weight: bold;
}

.playerPosition {
  margin-top: 1px;
  color: $grey4;
  font-size: 16px;
}

.playerDetails {
  color: $grey2;
  font-size: 14px;
}

.playerNumber {
  flex: 1;
  padding-right: 5px;
  font-size: 36px;
  font-weight: bold;
  text-align: end;
}
