@import 'src/scss/variables.scss';

.card {
  min-width: 440px;
  background-color: $white;
  font-family: arial;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 292px;
    background-image: url('../../../../assets/imgs/player-backdrop.png');
    background-size: cover;

    img {
      height: calc(100% - 10px);
    }
  }

  .imageLine {
    margin-top: 5px;
    border-bottom: 3px solid transparent;
  }

  .detailsContainer {
    margin: 20px 5px;

    .nameContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .name {
        font-size: 28px;
        color: $grey5;
        font-weight: bold;
      }

      .jerseyNumber {
        flex: 1;
        padding-right: 5px;
        color: $background-color-purple;
        font-size: 40px;
        font-weight: bold;
        text-align: end;
      }
    }

    .position {
      color: $grey4;
      font-size: 18px;
    }

    .details {
      margin-top: 5px;
      color: $grey2;
      font-size: 14px;
    }
  }
}
