@import 'src/scss/variables.scss';
@import 'src/components/_shared/title.module.scss';

.quickStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
    font-family: arial;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(25% - 5px);
    justify-content: center;
    align-items: center;
}

.header {
    @include title;
}

.data {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 8px;
    color: $grey5;
    font-size: 24px;
    font-weight: bold;
}