@import 'src/scss/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  background-color: $white;
  color: $grey5;
  font-family: arial;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img {
  border: 2px solid $grey3;
  border-radius: 2px;
}
