@import 'src/scss/variables.scss';

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px 0;
}

.title {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 13px;
    padding-bottom: 6px;
    color: $grey5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    text-transform: uppercase;
}

.stat {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    color: $grey3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-top: 1px solid $grey3;
}