@import 'src/scss/variables.scss';

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    // margin: 5px;
}

.title {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 13px;
    padding-bottom: 6px;
    color: $grey5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    text-transform: uppercase;
}

.stat {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    color: $grey3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-top: 1px solid $grey3;
}

.quickStatContainer {
    display: flex;
    flex-direction: column;
    width: calc(25% - 5px);
}

.quickStatTitle {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 16px;
    background-color: $background-color-purple;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold; 
    text-transform: uppercase;
    // margin-right: 5px;

    // &:nth-last-of-type() {
    //     margin-right: 0;
    // }
}

.quickStatTitle:last-child {
    margin-right: 0;
    background-color: pink;

}

.quickStat {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 8px;
    color:$grey5;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

