@import 'src/scss/variables.scss';

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    padding: 0;
    border: none;
    background-color: $background-color-purple;
    color: $white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}