@import 'src/scss/variables.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  box-shadow: -1px -3px 10px $grey2;
  font-family: Abadi;
  list-style: none;
}
