@import 'src/scss/variables.scss';

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  box-shadow: -1px -3px 10px $grey2;
  font-family: Abadi;
  list-style: none;
  
  .team {
    position: relative;
    display: flex;

    button {
      display: flex;
      align-items: center;
      padding: 0 15px 0 10px;
      height: 100%;
      border: none;
      background: none;
      color: $white;
      font-family: spurs;
      font-size: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;

      img {
        height: 35px;
      }

      span {
        margin: 2px 13px 0 8px;
      }
    }
  }

  .user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    background: $background-color-grey;
    color: $text-dark-grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    button {
      display: flex;
      align-items: center;
      padding: 0 15px;
      height: 100%;
      border: none;
      background: none;
      color: inherit;
      font-size: 14px;
      cursor: pointer;
      
      .userPic {
        border: 2px solid $border-dark-grey;
        border-radius: 25px;
        margin-right: 10px;
      }
    }
  } 

  .dropDownTeam {
    border-top: 6px solid $white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  
  .dropDownUser{
    border-top: 6px solid $text-dark-grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 15px;
  }
} 

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  border-radius: 50%;
  background-color: $white;
}

.selectContainer {
  width: 254px;
  margin-left: 10px;
}

select {
  position: relative;
  border: none;
  margin-left: 10px;
  color: $white;
  font-family: spurs;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  background: url('../../assets/icons/dropdownWhite.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
}

option {
  color: $grey5;
  background-color: $white;
  font-size: 18px;
  opacity: 0.6;
}

.borderTriangle {
  border-color: $grey1 transparent transparent;
}
