@import 'src/scss/variables.scss';

.container {
  position: relative;
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-items: center;
  background-color: $white;
  font-family: Avenir;
  font-size: 16px;
  text-transform: uppercase;
  
  .linkContainer {
    display: inline-block;
    height: 100%;
    padding: 0 25px;
  }

  a {
    display: inline-block;
    height: calc(100% - 19px);    
    padding-top: 15px;
    color: $grey5;
    text-decoration: none;

      &:hover {
      height: calc(100% - 19px);
      color: $grey-three;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    border-top: 45px solid $white;
    border-right: 16px solid transparent;
  }
}