@import "src/scss/variables.scss";

.userContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
  background: $background-color-grey;
  color: $text-dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    border: none;
    background: none;
    color: inherit;
    font-size: 14px;
    cursor: pointer;

    &:focus {
      outline-color: transparent;
    }

    .userPic {
      height: 25px;
      margin-right: 10px;
      border: 2px solid $border-dark-grey;
      border-radius: 25px;
    }
  }
}
