@import 'src/scss/variables.scss';

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  background-color: pink;
  box-shadow: -1px -3px 10px $grey2;
  font-family: Abadi;
  list-style: none;
  
  .team {
    position: relative;
    display: flex;
    background: $background-color-purple;

    button {
      display: flex;
      align-items: center;
      padding: 0 15px 0 10px;
      height: 100%;
      border: none;
      background: none;
      color: $white;
      font-family: spurs;
      font-size: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;

      img {
        height: 35px;
      }

      span {
        margin: 2px 13px 0 8px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      z-index: 1;
      border-top: 45px solid $background-color-purple;
      border-right: 16px solid transparent;
    }
  }

  .links {
    position: relative;
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    background-color: $white;
    font-family: Avenir;
    font-size: 16px;
    text-transform: uppercase;
    
    .linkContainer {
      display: inline-block;
      height: 100%;
      padding: 0 25px;
    }
  
    a {
      display: inline-block;
      height: calc(100% - 19px);    
      padding-top: 15px;
      color: $grey5;
      text-decoration: none;

        &:hover {
        height: calc(100% - 19px);
        color: $grey-three;
      }

      &.active {
        border-bottom: 4px solid $background-color-purple;
        color: $background-color-purple;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      border-top: 45px solid $white;
      border-right: 16px solid transparent;
    }
  }

  .user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    background: $background-color-grey;
    color: $text-dark-grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    button {
      display: flex;
      align-items: center;
      padding: 0 15px;
      height: 100%;
      border: none;
      background: none;
      color: inherit;
      font-size: 14px;
      cursor: pointer;
      
      .userPic {
        height: 25px;
        margin-right: 10px;
        border: 2px solid $border-dark-grey;
        border-radius: 25px;
      }
    }
  } 

  .dropDownTeam {
    border-top: 6px solid $white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  
  .dropDownUser{
    border-top: 6px solid $text-dark-grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 15px;
  }
} 