@import 'src/scss/variables.scss';

.container {
  position: relative;
  min-width: 440px;
  min-height: calc(100vh - 100px);
  height: calc(100vh - 90px);
  border-left: 1px solid $grey1;
  padding: 0 5px 5px 5px;
  overflow: auto;
  background-color: $white;
  font-family: arial;
}

.scrollHidden {
  overflow: hidden;
}
