$background-color-main: #F4F4F4;
$background-color-purple: #D0073E;
$background-color-grey: #EDEDED;
$text-dark-grey: #919191;
$border-shadow: #D4D3D3;
$border-dark-grey: #919191;
$grey-three: #919191;
$white: #FFFFFF;

// Player Card Number Background
$grey1: #f5f5f5;

// Player Card Position Selected 
$grey1b: #e7e7e7; 

// Player Card Height
$grey2: #a8a8a8;

//Player Card Number
$grey3: #959595;

// Player Card Position
$grey4: #777777;

// Header Links, Player Card Name
$grey5: #4e4e4e;

@font-face {
  src: url('../assets/fonts/Abadi-MT-Condensed-Extra-Bold.ttf');
  font-family: Abadi;
}

@font-face {
  src: url('../assets/fonts/AvenirNextLTPro-Cn.otf');
  font-family: Avenir;
}

@font-face {
  src: url('../assets/fonts/nba-spurs.ttf');
  font-family: spurs;
}

body {
  margin: 0;
  background-color: $background-color-main;
}

.app {
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-evenly;
}

// Header Styles

.header-container {
  position: relative;
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  height: 45px;
  box-shadow: -1px -3px 10px $grey2;
  font-family: Abadi;
  list-style: none;
  
  .team {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $background-color-purple;

    .logo-container {
      display: flex;
      border-radius: 24px;
      box-shadow: 1px 1px 5px $border-dark-grey;
      margin: 0 15px;
      background-color: $white;
    }

    button {
      padding: 0 15px;
      height: 100%;
      border: none;
      background: none;
      color: $white;
      font-family: spurs;
      font-size: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;

      i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      z-index: 5;
      border-top: 45px solid $background-color-purple;
      border-right: 20px solid transparent;
    }
  }

  .links {
    position: relative;
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    background-color: $white;
    font-family: Avenir;
    font-size: 16px;
    text-transform: uppercase;
    
    .link-container {
      display: inline-block;
      height: 100%;
      padding: 0 25px;
    }
  
    a {
      display: inline-block;
      height: calc(100% - 19px);    
      padding-top: 15px;
      color: $grey5;
      text-decoration: none;

       &:hover {
        height: calc(100% - 19px);
        color: $grey-three;
      }

      &.active {
        border-bottom: 4px solid $background-color-purple;
        color: $background-color-purple;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      border-top: 45px solid $white;
      border-right: 20px solid transparent;
    }
  }

  .user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    background: $background-color-grey;
    color: $text-dark-grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    button {
      display: flex;
      align-items: center;
      padding: 0 15px;
      height: 100%;
      border: none;
      background: none;
      color: inherit;
      font-size: 14px;
      cursor: pointer;
      
      .user-pic {
        border: 2px solid $border-dark-grey;
        border-radius: 25px;
        margin-right: 10px;
      }
    }
  } 

  .drop-down-team {
    border-top: 6px solid $white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  
  .drop-down-user{
    border-top: 6px solid $text-dark-grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 15px;
  }
} 

// Search Bar Styles

.search-bar {
  height: 45px;
  background-color: $white;
}

// Player Container Styles

.players-container {
  display: flex;
  box-shadow: -1px 0px 1px $grey3;
} 

.players-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  justify-content: space-between;
  background-color: $white;
}

.player-details-container {
  width: 28%;
  border-left: 1px solid $grey1;
  background-color:$white;
  

  .player-details-card {
    padding: 5px 8px;

    .image-container {
      position: relative;
      background-image: url('../assets/imgs/player-backdrop-large.png');

      img {
        position: relative;
        top: 4px;
        width: 100%;
      }
    }

    .image-border-bottom {
      width: 100%;
      margin-top: 4px;
      border-bottom: 2px solid $background-color-purple;
    }

    .player-stats-container {
      padding-left: 3px;

      .stats-name-container {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .stats-name {
        font-size: 30px;
        color: $grey5;
        font-weight: bold;
        font-family: arial;
        }
  
        .stats-number {
        flex: 1;
        text-align: end;
        padding-right: 35px;
        color: $background-color-purple;
        font-size: 46px;
        font-weight: bold;
        font-family: arial;
        vertical-align: sub;
        }
      }
  
      .stats-position {
        color: $grey4;
        font-size: 22px;
        font-family: arial;
      }
    }
  }
}

// Player Card Styles

.player-card {
  width: 24%;
  margin-bottom: 10px;
  padding: 5px 4px;
  background: $white;
  font-family: Arial;
  cursor: pointer;

  & > * {
    pointer-events: none;
  }
  
  &:hover {
    .details-container {
      background-color: $background-color-grey;
    }
  }

  .image-container {
    position: relative;
    height: 194px;
    background-image: url('../assets/imgs/player-backdrop.png');

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 95%;
    }
  }
  
  .image-border-bottom {
    width: 100%;
    margin-top: 4px;
    border-bottom: 2px solid $background-color-purple;
  }

  .details-container {
    display: flex;
    align-items: center;
    height: 120px;

    .number {
      flex: .5;
      border-radius: 5px;
      color: $grey3;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }

    .details {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding: 5px 0 5px 12px;
      text-align: left;
    
      & > * {
        padding: 3px;
      }
    
      .name {
        color: $grey5;
        font-size: 14px;
        font-weight: bold;
      }
    
      .position {
        color: $grey4;
        font-size: 13px;
      }
    
      .size {
        color: $grey2;
        font-size: 12px;
      }
    }   
  }

  &.selected-card {
    .details-container {
      background-color: $background-color-purple;

      .number {
        background-color: $background-color-purple;
        color: $white;
      }

      .details {
        background-color: $background-color-purple;

        .name {
          color: $white;
        }

        .position, .size {
          color: $grey1b;
        }
      }
    }
  }
}
  


