@import 'src/scss/variables.scss';

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.3);
  visibility: hidden;
  cursor: pointer;
}

.visible {
  visibility: visible;
}
