@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

.table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    tbody tr {
        text-align: center;

        th {
            @include line;
            padding: 4px 0;
            color: $grey6;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }

        td { 
            height: 15px;
            color: $grey4;
            font-size: 12px;
        }
    } 
}

span {
    padding-right: 35x;
}

.won {
    color: $won;
}

.lost {
    color: $lost;
}

.totalStats {
    padding-top: 6px;
    background-color: yellowgreen;
}

.games {
    padding-top: 2px;
    background-color: aqua;
}



