@import 'src/scss/variables.scss';

.table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

tbody tr {
    th {
        border-bottom: 2px solid $grey1b;
        padding: 6px 0 5px;
    }

    td { 
        padding-top: 7px;
    }
}

tr {
    text-align: center;
}

th {
    color: $grey6;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    color: $grey4;
    font-size: 12px;
}

span {
    padding-right: 35x;
}

.won{
    color: $won;
}

.lost {
    color: $lost;
}
